---
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { fetchMainNav } from '@/api/yamls';

import LanguageSwitch from '../LanguageSwitch.astro';
import CTAButton from './CTAButton.astro';
import NavItem from './NavItem.astro';

const pathname = Astro.request.url.pathname;
const locale = getLocaleFromUrlPathname(pathname);
const navItems = fetchMainNav(locale);

---
<div id="main-menu" class="main-menu">
  <nav aria-label="Main menu" class="lg:h-full">
    <ul class="flex flex-col m-0 p-0 list-none lg:inline-flex lg:flex-row lg:items-center lg:h-full">
      {navItems.map(({ title, to, submenu }, index) => <NavItem submenuId={`submenu-${index}`} to={to} title={title} submenu={submenu} />)}
    </ul>
  </nav>
  <div class="flex flex-col justify-center gap-x-6 py-4 lg:inline-flex lg:flex-row lg:items-center">
    <CTAButton />
    <LanguageSwitch />
  </div>
</div>

<style>
.h-main-menu {
  height: calc(100vh - theme('spacing.header'));
}
.main-menu {
  @apply flex-1
  min-w-[50%]

  flex
  flex-col
  bg-white

  absolute
  top-header
  h-main-menu

  overflow-y-scroll

  transition-transform duration-500 ease-linear
  will-change-transform

  w-full
  m-auto
  left-0
  z-40

  lg:inline-flex
  lg:flex-row
  lg:items-center
  lg:justify-between

  lg:static
  lg:top-0
  lg:h-full

  lg:overflow-visible

  lg:!transition-none
  lg:!will-change-[unset]

  lg:!pointer-events-auto
  lg:!visible
  lg:!transform-none

  pointer-events-none invisible -translate-x-[110%];

}
.main-menu.open {
  @apply pointer-events-auto visible transform-none;
}
</style>
