---
// boxShadow: `0 -2px 0 ${colors.header.nav.item.boxShadowColor} inset`
export interface Props {
  to: string;
  isActive: boolean;
}
const { to, isActive } = Astro.props as Props;
---
<a href={to} class={`menu-item ${isActive ? ' shadow-inner' : ''}`}  role="menuitem">
  <slot />
</a>

<style>
  .menu-item {
    @apply inline-flex w-full
    items-center justify-between
    whitespace-nowrap
    border-b
    border-solid
    py-4 px-8 font-semibold uppercase text-gray-900
    opacity-100

    first-of-type:border-t first-of-type:border-t-gray-900

    hover:text-black
    hover:bg-slate-50
    focus:bg-gray-600
    active:bg-slate-100
    at-a at-a-undecorated

    xl:h-full xl:justify-start xl:border-b-0 xl:p-4 xl:first-of-type:border-t-0;
  }
</style>
