---
// boxShadow: `0 -2px 0 ${colors.header.nav.item.boxShadowColor} inset`
export interface Props {
  id?: string;
  to: string;
  isActive: boolean;
}
const { id = '', to, isActive } = Astro.props as Props;
---

<a id={id} href={to} class={`menu-item ${isActive ? ' shadow-inner' : ''}`} role="menuitem">
  <slot />
</a>

<style>
  .menu-item {
    @apply at-a at-a-undecorated
    inline-flex w-full
    items-center
    justify-between
    whitespace-nowrap
    border-b border-solid py-4 px-8 font-semibold
    uppercase

    text-gray-900 opacity-100

    first-of-type:border-t
    first-of-type:border-t-gray-900
    hover:bg-slate-50
    hover:text-black
    focus:bg-gray-600 active:bg-slate-100

    lg:h-full lg:justify-start lg:border-b-0 lg:p-4 lg:first-of-type:border-t-0;
  }
</style>
