---
import Layout from '@/components/Layout.astro';
import Modal from '@/components/Modal.astro';

const title = 'My Astro Site';
---

<Layout {title} seo={{}}>
  <Modal id="dialog" open="Open modal">
    <div slot="main">
      <p>Some extra content you would like here</p>
      <hr />
      <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo" />
    </div>
    <button slot="close">Close modal</button>
  </Modal>
</Layout>
