---
import FormattedDate from '@/components/FormattedDate.astro';

export interface Props {
  dateModified: string;
  t: ITranslationFunc;
}

const { dateModified, t } = Astro.props;
---

{dateModified && (
  <div class="mt-5 text-xs">
    <span class="mr-1 inline-block first-letter:uppercase after:content-[':']">{t('post.lastUpdated')}</span>
    <FormattedDate date={dateModified} />
  </div>
)}
