/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
/* purgecss end ignore */

@layer base {
  /* https://google-webfonts-helper.herokuapp.com/fonts */
  /* oswald-700 - cyrillic */
  @font-face {
    font-family: 'Oswald';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), local('OswaldBold'), url('/assets/fonts/oswald-v36-cyrillic-700.woff2') format('woff2');
  }
  @font-face {
    font-family: 'fallback-heading-font';
    advance-override: -0.0923828125; /* Letter spacing: -1.5px */
    src: local('Arial');
  }
}

.h-main-menu {
  height: calc(100vh - theme('spacing.14'));
}

@layer components {
  .at-menu-item {
    @apply inline-flex w-full cursor-pointer
    items-center justify-between
    whitespace-nowrap
    border-b
    border-solid
    py-4 px-8 font-semibold uppercase text-gray-900
    no-underline opacity-100

    first-of-type:border-t first-of-type:border-t-gray-900

    hover:bg-slate-50 hover:text-black
    hover:no-underline hover:outline-none
    focus:bg-gray-600 focus:no-underline

    focus:outline-none

    active:bg-slate-100 active:no-underline

    active:outline-none;
  }
  .at-menu-item-xl {
    @apply xl:h-full xl:justify-start xl:border-b-0 xl:p-4 xl:first-of-type:border-t-0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

html {
  scroll-padding-top: calc(theme('spacing.14') + 1.5rem);
}

@media (min-width: theme('screens.xl')) {
  html {
    scroll-padding-top: calc(theme('spacing.18') + 1.5rem);
  }
}

@media (max-width: theme('screens.xl')) {
  .js-body__no-scroll {
    height: 100%;
    position: fixed;
  }
}

@media (min-width: theme('screens.xl')) {
  .menu-item-extra::after {
    display: inline-block;
    content: '';
    border-style: solid;
    border-color: theme('colors.gray.500');
    border-width: 0 1px 1px 0;
    padding: 3px;
    margin-left: theme('spacing.2');
    transform: rotate(45deg);
  }
}
