---
import format from './formatDate';

const locale = Astro.request.params.locale;
const { date, t } = Astro.props;
---
<div class="mt-5 text-xs">
  <span class="inline-block first-letter:uppercase after:content-[':'] mr-1">{t('post.lastUpdated')}</span>
  {format(date, locale)}
</div>
