---
import theme from '../theme';
import LocalizedLink from '@/components/LocalizedLink.astro';

export interface Props {
  footerNav: FooterNav;
}

const { footerNav } = Astro.props;

const styleLink = `
  ${theme.colors.text}
  mx-3
  py-2

  uppercase

  at-a at-a-undecorated

  lg:mx-4
`;
---

<div class="inline-flex justify-center flex-wrap w-full">
  {footerNav.map(({ to, title }: Link) => (
    <LocalizedLink to={to} class={styleLink}>
      {title}
    </LocalizedLink>
  ))}
</div>
