---
import styleContainer from '../styleContainer';
import Navbar from './components/Navbar.astro';
//  TODO: contain: 'layout',
//  TODO: boxShadow: shadows.raised,
---
<header role="navigation" class="w-full h-header lg:h-header-xl fixed top-0 left-0 text-sm shadow-sm z-30">
  <div class={`flex items-center h-full ${styleContainer}`}>
    <Navbar />
  </div>
</header>
