---
export interface Props {
  cover?: Image;
}

const { cover } = Astro.props as Props;
---

<div class="flex flex-col xl:grid xl:grid-rows-[auto_1fr] xl:grid-cols-[1fr_3fr] xl:gap-y-7">
  <div class="mb-8 xl:col-start-1 xl:col-end-1 xl:row-start-1 xl:row-end-1 xl:mb-0 xl:pr-4">
    {cover && cover.src && <img class="h-auto w-full" src={cover.src} alt={cover.alt} title={cover.title} />}
  </div>
  <div class="mb-8 xl:col-start-2 xl:col-end-2 xl:row-start-1 xl:row-end-2 xl:mb-0 xl:pl-4">
    <div class="mb-8">
      <slot name="html" />
    </div>}
    <slot name="children" />
  </div>
  <div class="xl:col-start-1 xl:col-end-1 xl:row-start-2 xl:row-end-2 xl:pr-4">
    <slot name="aside" />
  </div>
</div>
