---
export interface Props {
  title?: string;
  headline?: string;
}
const { title, headline } = Astro.props as Props;
---

<div class="my-7 mx-auto text-center text-center lg:py-0 lg:px-12 lg:leading-5 lg:px-40">
  {title && <h1>{title}</h1>}
  {headline && <p class="mt-4">{headline}</p>}
</div>
