<button id="menu-toggle" class="menu-toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
  <div class="toggle-line"></div>
  <div class="toggle-line"></div>
  <div class="toggle-line"></div>
</button>

<style>
  .menu-toggle {
    @apply relative m-0 flex h-12 w-12 flex-col items-center justify-center border-none bg-transparent lg:pointer-events-none lg:hidden;
  }

  .menu-toggle .toggle-line {
    @apply my-1 h-1 w-6 transform rounded-full bg-black opacity-50 transition duration-300 group-hover:opacity-100;
  }

  .menu-toggle.open .toggle-line:nth-child(1) {
    transform: translateY(0.75rem) rotate(45deg);
  }

  .menu-toggle.open .toggle-line:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .toggle-line:nth-child(3) {
    transform: translateY(-0.75rem) rotate(-45deg);
  }
</style>
