---
import { getPageFromContent } from '@/lib/cms';
import { getLocaleFromUrlPathname} from '@/lib/url-pathname-utils';

import Layout from '@/components/Layout/BaseLayout.astro';

const locale = getLocaleFromUrlPathname(Astro.request.url.pathname);

const { title, headline, metaTitle, metaDescription, noindex, nofollow, html } = getPageFromContent(Astro.props.content, Astro.request.url.pathname, locale);

const seo = {
  title: metaTitle,
  description: metaDescription,
  headline,
  noindex,
  nofollow,
};
---

<Layout {seo}>
  <div>{title} {headline}</div>
  <div set:html={html} />
</Layout>
