---
import { getPageFromContent } from '@/cms/page';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';

import Layout from '@/components/Layout/BaseLayout.astro';

const locale = getLocaleFromUrlPathname(Astro.request.url.pathname);

const { title, headline, metaTitle, metaDescription, noindex, nofollow, html } = getPageFromContent(
  Astro.props.content,
  Astro.request.url.pathname,
  locale,
);

const seo = {
  title: metaTitle,
  description: metaDescription,
  headline,
  noindex,
  nofollow,
};
---

<Layout {seo}>
  <div>{title} {headline}</div>
  <div set:html={html}></div>
</Layout>
